// Body
$body-bg: #f8fafc;

// Typography
$font-family-serif: 'Cardo, serif';
$font-size-base: 0.9rem;
$line-height-base: 1.6;





//providing-proof-colors
$main-bg-color:#97BF04;

$secondary-bg-color:#fcfcfc;

$ternary-bg-color:#ffe686;

header {
    min-height: 210px !important;
  }
.button-default{
    background-color: $main-bg-color;
    color: white;
    font-weight: bold;
    padding: 0.3em 0.8em;
    cursor:pointer;
}
.clear-fixed-position{
    padding: 70px 15px 0 !important;
}
#navbarCollapse {
    padding: 5em 0;
}
.nav-item a.nav-link {
	color: #97BF04;
	text-transform: capitalize;
    transition: all 0.5s linear;
}

a{cursor: pointer;}


.main-bg{
    background-color: $main-bg-color;

}

.secondary-bg{
    background-color: $secondary-bg-color;
}

.ternary-bg{
    background-color: $ternary-bg-color;
}

.nav-item a.nav-link:hover {
	color: #04ADBF;
}

.nav-item {
    font-size: 1.5em;
    margin: 0 3em;
  }

.container-fluid {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }

  section {
    padding: 5em 0.5em;
    text-align: center;
  }

  section h2 {
    font-size: 2em;
  }
  section p {
    font-size: 1.5em;
    line-height: 2em;
  }

  #logo img{
    width: 100%;
    max-width: 120px;
  
  }
  .navbar.navbar-expand-md.navbar-light.fixed-top.bg-light {
	border-bottom: 1px solid #e2e2e2;
}

.footer.mt-auto.py-3.bg-light{
    border-top: 1px solid #e2e2e2;
}